.img11{
    width: 100%;
    border-radius: 8px; /* Bordas arredondadas */
     box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Sombra suave */
}



.img3{
    width: 100%;
    border-radius: 8px; /* Bordas arredondadas */
     box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Sombra suave */
}


.img2, .img11, .img7, .img4, .img3, .img1, .img5, .img6, .img12, .img13, .img14, .img8{
    width: 100%;
    border-radius: 8px; /* Bordas arredondadas */
    height: 200px;        /* todas terão a mesma altura */
    object-fit: cover;
     box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* Sombra suave */
}

